.input {
  border-radius: 8px;
  border: 1px solid var(--gray-700, #0d0d0d);
  background: var(--gray-500, #262626);
  color: var(--Gray-100, #f2f2f2);

  display: flex;
  padding: 16px;
  align-items: center;
  gap: 8px;
  width: 100%;
  outline: none;
}

.input::placeholder {
  color: var(--gray-300, #808080);
}

.input:focus {
  border: 1px solid var(--PurpleDark, #5e60ce);
}
